services:
  worker-redis: &worker
    image: golang:alpine
    environment: &envvars
      CGO_ENABLED: 0
      GOOS: linux
      GOCACHE: /go/.cache
      TEMPORAL_ADDRESS: temporal:7233
      # Override this
      CONNECTION_DRIVER: redis
      REDIS_ADDRESS: redis:6379
    working_dir: /go/app/examples/golang-external/worker
    links:
      - redis
    depends_on:
      temporal:
        condition: service_healthy
    command:
      - go
      - run
      - .
    develop:
      watch:
        - path: ../../
          action: sync+restart
          target: /go/app
          initial_sync: true

  starter-redis:
    <<: *worker
    working_dir: /go/app/examples/golang-external/starter

  worker-s3: &worker-s3
    <<: *worker
    environment:
      <<: *envvars
      CONNECTION_DRIVER: s3
      S3_REGION: us-east-1
      S3_ENDPOINT: http://s3:9000
      S3_BUCKETNAME: my-bucket
      S3_ACCESS_KEY_ID: test
      S3_SECRET_ACCESS_KEY: test
      S3_USE_PATH_STYLE: true
    links:
      - s3
    depends_on:
      s3:
        condition: service_started
      s3-init:
        condition: service_completed_successfully
      temporal:
        condition: service_healthy

  starter-s3:
    <<: *worker-s3
    working_dir: /go/app/examples/golang-external/starter

  redis:
    image: redis:alpine
    ports:
      - 6379:6379

  s3-init:
    image: amazon/aws-cli
    depends_on:
      - s3
    restart: on-failure
    command: --endpoint-url=http://s3:9000 --region us-east-1 s3 mb s3://my-bucket
    environment:
      AWS_ACCESS_KEY_ID: test
      AWS_SECRET_ACCESS_KEY: test
      AWS_DEFAULT_REGION: us-east-1

  s3:
    image: rustfs/rustfs
    ports:
      - 9000:9000
      - 9001:9001
    environment:
      RUSTFS_ACCESS_KEY: test
      RUSTFS_SECRET_KEY: test
      RUSTFS_CONSOLE_ENABLE: true

  temporal:
    image: temporalio/temporal
    ports:
      - 7070:7233
      - 8080:8233
    command: server start-dev --ip 0.0.0.0 --search-attribute Step=text
    healthcheck:
      test: ["CMD-SHELL", "temporal operator cluster health"]
      interval: 10s
      timeout: 10s
      retries: 3
